#lax {
    background-color: rgb(255, 81, 0);
}
#id2 {
    background-color: rgb(255, 166, 0);
}
#id3 {
    background-color: blue;
}
#id4
{
    background-color: darkgreen;
}
#id5 {
    background-color: rgb(166, 168, 168);
}
#id6 {
    background-color: rgb(140, 0, 255);
}
#id7 {
    background-color: darkorchid;
}
#id8 {
    background-color: azure;
}